.header img {
  width: 7rem;

  margin-top: 6mm;
}

.container {
  min-height: 100vh;;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(15, 0, 0);
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 10mm;
  margin-bottom: 5mm;

  box-shadow: 2px 2px 60px red;
}

.main > div {
  flex-direction: row;
}

.main > div img {
  border-radius: 3px;
  margin-right: 6mm;

  width: 8rem;

  margin-bottom: 10mm;
}
.main .ut {
  width: 7.600rem;
}

.main .title {
  color: white;
  text-align: center;
}
.main .title h1 {
  font-size: 2rem;
  width: 30rem;
}

.footer {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: red;
  padding: 10px 40px;
  border-radius: 3px;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
